{% extends "layout.html" %}

{% block title %}Edit Book{% endblock %}

{% block content %}
    <h1>Edit Book</h1>
    <form method="POST">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
        <label>Title</label>
        <input type="text" name="title" value="{{ book.title }}" required>

        <label>Author</label>
        <input type="text" name="author" value="{{ book.author }}" required>

        <label>Year (optional)</label>
        <input type="number" name="year" value="{{ book.year or '' }}" min="0" max="2026">

        <fieldset>
            <legend>Genres (Select one or more)</legend>
            {% for genre in genres %}
                <label>
                    <input type="checkbox" name="genre_ids" value="{{ genre.id }}"
                        {% if book and genre.id in selected_genre_ids %}checked{% endif %}>
                    {{ genre.name }}
                </label>
            {% endfor %}
        </fieldset>

        <button type="submit">Save Changes</button>
        <a href="/book/{{ book.id }}">Cancel</a>
    </form>
{% endblock %}